/* Reset styles, general layout */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  /* First Block styles */
  .first-black {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .logo, .menu-button {
    padding: 1rem;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .menu-button {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Second Block styles */
  .second-black {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .slideshow-container {
    position: relative;
  }
  
  .slideshow-section img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .description-section {
    text-align: left;
    padding: 1rem;
  }
  
  /* Third Block styles */
  .third-black {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .animation-section {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffcc00;
  }
  
  /* Fourth Block styles */
  .fourth-black {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  /* Fifth Block styles */
  .fifth-black {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .map-section {
    font-size: 1.2rem;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .slideshow-section {
      grid-template-columns: 1fr;
    }
  }
  